<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}" xmlns:border="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}">
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}">
<meta th:if="${_csrf}" name="_csrf_parameter" th:content="${_csrf.parameterName}">
<head>

    <meta charset='utf-8'>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- JS, jQuery, Popper.js, Bootstrap.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src='fullcalendar/core/index.global.js'></script>
    <script src='fullcalendar/core/locales-all.global.js'></script>


    <style>

              .btn.btn-white {
            background-color: #B0E0E6;
            color: #343a40;
            transition: transform 0.3s;
          }

          .btn.btn-white:hover {
            transform: scale(1.05);
          }


        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
        .mainCon {
          display: flex;
          width: 100%;
        }

        .left-half {
          width: 50%;
        }

        .right-half {
          width: 50%;
          display: flex;
          flex-direction: column;
          padding: 30px; /* 원하는 패딩 값 설정 */
        }



        body {
          font-family: 'CustomFont', Arial, sans-serif;
          height: 100%;
        }
        .container {
          display: flex;
          width: 100%;

          height: 100vh;
        }

        .reddate-event {
          background-color: #FFC0CB;
          /* 추가적인 스타일 설정 */
        }
        .fc-state-highlight {
          opacity: 0;
          border: none;
        }
        .fc-time-grid-event.fc-v-event.fc-event {
          border-radius: 4px;
          border: none;
          padding: 5px;
          opacity: .65;
          left: 5% !important;
          right: 5% !important;
        }
        .fc-event {
          font-size: inherit !important;
          font-weight: bold !important;
        }
        .fc td,
        .fc th {
          border: 1px solid #d6e6ff !important;
          padding: 0 !important;
          vertical-align: top !important;
        }

        .fc-event .fc-bg {
          z-index: 1 !important;
          background: inherit !important;
          opacity: .25 !important;
        }
        .fc-time-grid-event .fc-time {
          font-weight: normal !important;
        }
        .fc-ltr .fc-h-event.fc-not-end,
        .fc-rtl .fc-h-event.fc-not-start {
          opacity: .65 !important;
          margin-left: 12px !important;
          padding: 5px !important;
        }
        .fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
          opacity: .65 !important;
          margin-left: 12px !important;
          padding: 5px !important;
        }
        .fc-button {
          display: inline-block;
          position: relative;
          cursor: pointer;
          min-height: 36px;
          min-width: 88px;
          line-height: 36px;
          vertical-align: middle;
          -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
          border-radius: 2px;
          box-sizing: border-box;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          outline: none;
          border: 0;
          padding: 0 6px;
          margin: 6px 8px;
          letter-spacing: .01em;
          background: transparent;
          color: currentColor;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
          font-style: inherit;
          font-variant: inherit;
          font-family: inherit;
          text-decoration: none;
          overflow: hidden;
          -webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
          transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
        }
        .fc-button:hover {
          background-color: rgba(158, 158, 158, 0.2);
        }
        .fc-button:focus,
        .fc-button:hover {
          text-decoration: none;
        }
        .fc-state-active {
          background-color: rgba(158, 158, 158, 0.2);
        }
        .fc-state-default {
          box-shadow: None;
        }
        .fc-day-sun a {
          color: red;
          text-decoration: none;
        }
        .fc-day-sat a {
          color: blue;
          text-decoration: none;
        }
        #calendar {
          width: 2500px;
          margin-bottom: 20px;
        }
        .calendar-filter {
          text-align: center;
          margin-bottom: 20px;
        }
        .calendar-filter select {
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          background-color: #f0f0f0;
        }

        select{
            margin-right:10px;
        }

.TimeTh {
  padding: 8px;
  text-align: center;
  background-color: #B0E0E6; /* 맨 위 행의 배경색 */
  border-radius: 10px 10px 0 0; /* 맨 위 행의 선을 둥글게 */
}

.TimeTd {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #B0E0E6; /* 나머지 행의 아래쪽 선 스타일 */
}



  .TimeTd input[type="text"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    text-align: center; /* 가운데 정렬 */

    </style>
</head>
<body>
<div class="" layout:fragment="content">
    <div class="mainCon">
        <div class="left-half">
            <div class="container">
                <div id='calendar'></div>
            </div>
            <script>
                var calendarEl = document.getElementById('calendar');
                var request = $.ajax({
                  url: "/events/personal/calendar",
                  method: "GET",
                });
                request.done(function (data) {
                  var calendar = new FullCalendar.Calendar(calendarEl, {
                    height: '950px',
                    dayMaxEvents: true,
                    navLinks: true,
                    themeSystem: 'bootstrap',
                    eventTimeFormat: {
                      hour: 'numeric',
                      minute: '2-digit',
                      meridiem: false
                    },
                    buttonIcons: {
                      prev: 'bi bi-chevron-left btn-sm',
                      next: 'bi bi-chevron-right btn-sm',
                      prevYear: 'bi bi-chevron-double-left btn-sm',
                      nextYear: 'bi bi-chevron-double-right btn-sm'
                    },

                    buttonText: {
                      prev: '이전',
                      next: '다음',
                      prevYear: '작년',
                      nextYear: '내년',
                      today: '오늘',
                      month: '월',
                      week: '주',
                      day: '일',
                      list: '목록'
                    },
                    locale: 'ko',
                    initialView: 'dayGridMonth',
                    firstDay: 1,
                    eventOrder: 'importance',
                    titleFormat: function (date) {
                      var year = date.date.year;
                      var month = date.date.month + 1;
                      return year + "년 " + month + "월";
                    },
                    views: {
                      timeGrid: {
                        scrollTime: '00:00:00'
                      },
                      timeGridDay: {
                        scrollTime: '00:00:00'
                      }
                    },
                    events: data,
                    // 일정 마우스 오버 이벤트 핸들러
                    eventMouseEnter: function (info) {
                        // 툴팁 요소 생성
                        var tooltip = document.createElement('div');
                        tooltip.className = 'event-tooltip';
                        tooltip.innerHTML = '<strong>' + info.event.extendedProps.description + '</strong>';

                        // 툴팁을 일정 요소의 위치에 추가하여 표시
                        info.el.appendChild(tooltip);
                    },

                    // 일정 마우스 이탈 이벤트 핸들러
                    eventMouseLeave: function (info) {
                        // 툴팁 요소 제거
                        var tooltip = info.el.querySelector('.event-tooltip');
                        if (tooltip) {
                            tooltip.remove();
                        }
                    }
                  });
                  calendar.setOption('locale', 'kr');
                  calendar.render();
                });


            </script>

            <script>
              function showNextRow() {
                const hiddenRow7 = document.getElementById('hiddenRow7');
                const hiddenRow8 = document.getElementById('hiddenRow8');
                const hiddenRow9 = document.getElementById('hiddenRow9');
                if (hiddenRow7.style.display === 'none') {
                  hiddenRow7.style.display = 'table-row';
                } else if (hiddenRow8.style.display === 'none') {
                  hiddenRow8.style.display = 'table-row';
                } else if (hiddenRow9.style.display === 'none') {
                  hiddenRow9.style.display = 'table-row';
                }
              }

              function hideLastRow() {
                const hiddenRow7 = document.getElementById('hiddenRow7');
                const hiddenRow8 = document.getElementById('hiddenRow8');
                const hiddenRow9 = document.getElementById('hiddenRow9');
                if (hiddenRow9.style.display !== 'none') {
                  hiddenRow9.style.display = 'none';
                } else if (hiddenRow8.style.display !== 'none') {
                  hiddenRow8.style.display = 'none';
                } else if (hiddenRow7.style.display !== 'none') {
                  hiddenRow7.style.display = 'none';
                }
              }
            </script>
        </div>
        <div class="right-half">
            <div>
                <h3 align="left">
                    개인일정<a style="text-decoration: none; float: right;" th:href="@{/personal/list}"><small><small><small>+ 더보기</small></small></small></a></h3>
                </h3>
            </div>
            <table class="table">
                <thead>
                <tr align="center">
                    <th>제목</th>
                    <th>기간</th>
                </tr>
                </thead>
                <tbody align="center">
                <tr th:each="personal, stat : ${latestPersonals}">
                    <td>
                        <a th:href="'/personal/detail/'+${personal.personalId}" th:text="${personal.event}"></a>
                    </td>
                    <td th:text="${#temporals.format(personal.startDate, 'yyyy-MM-dd')+'~'+#temporals.format(personal.finishDate, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>

            </table>
            <!-- 모달 창 -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 800px; height: 500px;">
                    <div class="modal-content">
                        <form id="modalForm" action="/personal/main" method="post" th:object="${schoolTimeBoardDto}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">학교 시간표</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" th:field="*{timeBoardId}">
                                <table  style="width: 470px; height: 650px;">
                                    <thead>
                                    <tr>
                                        <th class="TimeTh">시간</th>
                                        <th class="TimeTh">월요일</th>
                                        <th class="TimeTh">화요일</th>
                                        <th class="TimeTh">수요일</th>
                                        <th class="TimeTh">목요일</th>
                                        <th class="TimeTh">금요일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">1교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{firstMonTime}" th:value="${schoolTimeBoardDto.firstMonTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{firstTueTime}" th:value="${schoolTimeBoardDto.firstTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{firstWedTime}" th:value="${schoolTimeBoardDto.firstWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{firstTurTime}" th:value="${schoolTimeBoardDto.firstTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{firstFriTime}" th:value="${schoolTimeBoardDto.firstFriTime}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">2교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{secondMonTime}" th:value="${schoolTimeBoardDto.secondMonTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{secondTueTime}" th:value="${schoolTimeBoardDto.secondTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{secondWedTime}" th:value="${schoolTimeBoardDto.secondWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{secondTurTime}" th:value="${schoolTimeBoardDto.secondTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{secondFriTime}" th:value="${schoolTimeBoardDto.secondFriTime}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">3교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{thirdMontTime}" th:value="${schoolTimeBoardDto.thirdMontTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{thirdTueTime}" th:value="${schoolTimeBoardDto.thirdTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{thirdWedTime}" th:value="${schoolTimeBoardDto.thirdWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{thirdTurTime}" th:value="${schoolTimeBoardDto.thirdTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{thirdFriTime}" th:value="${schoolTimeBoardDto.thirdFriTime}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">4교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fourthMonTime}" th:value="${schoolTimeBoardDto.fourthMonTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fourthTueTime}" th:value="${schoolTimeBoardDto.fourthTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fourthWedTime}" th:value="${schoolTimeBoardDto.fourthWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fourthTurTime}" th:value="${schoolTimeBoardDto.fourthTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fourthFriTime}" th:value="${schoolTimeBoardDto.fourthFriTime}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" colspan="6">
                                            ============점심시간============
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">5교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fifthMontTime}" th:value="${schoolTimeBoardDto.fifthMontTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fifthTueTime}" th:value="${schoolTimeBoardDto.fifthTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fifthWedTime}" th:value="${schoolTimeBoardDto.fifthWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fifthTurTime}" th:value="${schoolTimeBoardDto.fifthTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{fifthFriTime}" th:value="${schoolTimeBoardDto.fifthFriTime}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">6교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{sixthMonTime}" th:value="${schoolTimeBoardDto.sixthMonTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{sixthTueTime}" th:value="${schoolTimeBoardDto.sixthTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{sixthWedTime}" th:value="${schoolTimeBoardDto.sixthWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{sixthTurTime}" th:value="${schoolTimeBoardDto.sixthTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{sixthFriTime}" th:value="${schoolTimeBoardDto.sixthFriTime}" />
                                        </td>
                                    </tr>
                                    <tr >
                                        <td class="TimeTd" style="width: 15%;">7교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{seventhMonTime}" th:value="${schoolTimeBoardDto.seventhMonTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{seventhTueTime}" th:value="${schoolTimeBoardDto.seventhTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{seventhWedTime}" th:value="${schoolTimeBoardDto.seventhWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{seventhTurTime}" th:value="${schoolTimeBoardDto.seventhTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{seventhFriTime}" th:value="${schoolTimeBoardDto.seventhFriTime}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">8교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{eieghthMonTime}" th:value="${schoolTimeBoardDto.eieghthMonTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{eieghthTueTime}" th:value="${schoolTimeBoardDto.eieghthTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{eieghthWedTime}" th:value="${schoolTimeBoardDto.eieghthWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{eieghthTurTime}" th:value="${schoolTimeBoardDto.eieghthTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{eieghthFriTime}" th:value="${schoolTimeBoardDto.eieghthFriTime}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TimeTd" style="width: 15%;">9교시</td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{ninethMonTime}" th:value="${schoolTimeBoardDto.ninethMonTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{ninethTueTime}" th:value="${schoolTimeBoardDto.ninethTueTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{ninethWedTime}" th:value="${schoolTimeBoardDto.ninethWedTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{ninethTurTime}" th:value="${schoolTimeBoardDto.ninethTurTime}" />
                                        </td>
                                        <td class="TimeTd">
                                            <input type="text" th:field="*{ninethFriTime}" th:value="${schoolTimeBoardDto.ninethFriTime}" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info" >편집</button>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            <form th:object="${schoolTimeBoard}">
                <div>
                    <h3 align="left">
                        학교 시간표
                        <!-- 모달 버튼 -->
                        <button style="text-decoration: none; float: right;" type="button" class="btn btn-white" data-toggle="modal" data-target="#myModal">
                            편집하기
                        </button>
                    </h3>
                </div>

                <input type="hidden" th:field="*{timeBoardId}">

                <table  style="width: 100%; height: 450px;">
                    <thead>
                    <tr>
                        <th class="TimeTh">시간</th>
                        <th class="TimeTh">월요일</th>
                        <th class="TimeTh">화요일</th>
                        <th class="TimeTh">수요일</th>
                        <th class="TimeTh">목요일</th>
                        <th class="TimeTh">금요일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="TimeTd">1교시</td>
                        <td class="TimeTd" th:text="*{firstMonTime}">
                        </td>
                        <td class="TimeTd" th:text="*{firstTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{firstWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{firstTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{firstFriTime}">
                        </td>
                    </tr>
                    <tr>
                        <td class="TimeTd">2교시</td>
                        <td class="TimeTd" th:text="*{secondMonTime}">
                        </td>
                        <td class="TimeTd" th:text="*{secondTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{secondWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{secondTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{secondFriTime}">
                        </td>
                    </tr>
                    <tr>
                        <td class="TimeTd">3교시</td>
                        <td class="TimeTd" th:text="*{thirdMontTime}">
                        </td>
                        <td class="TimeTd" th:text="*{thirdTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{thirdWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{thirdTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{thirdFriTime}">
                        </td>
                    </tr>
                    <tr>
                        <td class="TimeTd">4교시</td>
                        <td class="TimeTd" th:text="*{fourthMonTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fourthTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fourthWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fourthTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fourthFriTime}">
                        </td>
                    </tr>
                    <tr>
                        <td class="TimeTd"  colspan="6">
                            점심시간
                        </td>
                    </tr>
                    <tr>
                        <td class="TimeTd">5교시</td>
                        <td class="TimeTd" th:text="*{fifthMontTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fifthTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fifthWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fifthTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{fifthFriTime}">
                        </td>
                    </tr>
                    <tr>
                        <td class="TimeTd">6교시</td>
                        <td class="TimeTd" th:text="*{sixthMonTime}">
                        </td>
                        <td class="TimeTd" th:text="*{sixthTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{sixthWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{sixthTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{sixthFriTime}">
                        </td>
                    </tr>
                    <tr th:if="${(schoolTimeBoard.seventhMonTime != null and schoolTimeBoard.seventhMonTime != '==')
                or(schoolTimeBoard.seventhTueTime != null and schoolTimeBoard.seventhTueTime != '==')
                or(schoolTimeBoard.seventhWedTime != null and schoolTimeBoard.seventhWedTime != '==')
                or( schoolTimeBoard.seventhTurTime != null and schoolTimeBoard.seventhTurTime != '==')
                or( schoolTimeBoard.seventhFriTime != null and schoolTimeBoard.seventhFriTime != '==')}">
                        <td class="TimeTd">7교시</td>
                        <td class="TimeTd" th:text="*{seventhMonTime}">
                        </td>
                        <td class="TimeTd" th:text="*{seventhTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{seventhWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{seventhTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{seventhFriTime}">
                        </td>
                    </tr>
                    <tr th:if="${(schoolTimeBoard.eieghthMonTime != null and schoolTimeBoard.eieghthMonTime != '==')
                or( schoolTimeBoard.eieghthTueTime != null and schoolTimeBoard.eieghthTueTime != '==')
                or( schoolTimeBoard.eieghthWedTime != null and schoolTimeBoard.eieghthWedTime != '==')
                or( schoolTimeBoard.eieghthTurTime != null and schoolTimeBoard.eieghthTurTime != '==')
                or( schoolTimeBoard.eieghthFriTime != null and schoolTimeBoard.eieghthFriTime != '==')}">
                        <td class="TimeTd">8교시</td>
                        <td class="TimeTd" th:text="*{eieghthMonTime}">
                        </td>
                        <td class="TimeTd" th:text="*{eieghthTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{eieghthWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{eieghthTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{eieghthFriTime}">
                        </td>
                    </tr>
                    <tr th:if="${(schoolTimeBoard.ninethMonTime != null and schoolTimeBoard.ninethMonTime != '==')
                or( schoolTimeBoard.ninethTueTime != null and schoolTimeBoard.ninethTueTime != '==')
                or( schoolTimeBoard.ninethWedTime != null and schoolTimeBoard.ninethWedTime != '==')
                or( schoolTimeBoard.ninethTurTime != null and schoolTimeBoard.ninethTurTime != '==')
                or( schoolTimeBoard.ninethFriTime != null and schoolTimeBoard.ninethFriTime != '==')}">
                        <td class="TimeTd">9교시</td>
                        <td class="TimeTd" th:text="*{ninethMonTime}">
                        </td>
                        <td class="TimeTd" th:text="*{ninethTueTime}">
                        </td>
                        <td class="TimeTd" th:text="*{ninethWedTime}">
                        </td>
                        <td class="TimeTd" th:text="*{ninethTurTime}">
                        </td>
                        <td class="TimeTd" th:text="*{ninethFriTime}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>
</div>


</body>
</html>